lightning-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

lightning-input{
    margin: 1%;
}

lightning-button{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}