.THIS {
    margin: auto;
    position:relative;
    max-width: 50%;
    top: 30%;
    padding:20px;
    justify-content: center;
    background-color: #ac0404;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(-0.15em * 3 - 0.08em * 2);
    transition: 0.3s;
    border-radius: 8px;
    animation-name: rgb;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.THIS div{
    justify-content: center;
    background-color: #ac0404;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(-0.15em * 3 - 0.08em * 2);
    transition: 0.3s;
    border-radius: 8px;
    animation-name: rgb;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes rgb {
    0%   {background-color: #ac0404;}
    25%  {background-color: #fff200;}
    50%  {background-color: #59ff00;}
    100% {background-color: #00fff7;}
}