.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.463);
  backdrop-filter: blur(5px);
}

.searchContainer {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.searchinput {
  border-color: transparent;
  flex: 1;
}

.TempShow {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.switch_C_F {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.daily {
  position: relative;
  top: 3rem;
  color: #fff;
  font-size: 2rem;
}
.hourly {
  top: 0.3rem;
  color: #fff;
}

.bubbleDiv {
  margin: 8px;
  padding: 8px;
  opacity: 0.5;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.564);
}

.bubbleDiv:hover {
  border-style: solid;
  opacity: 1;
  border-color: #fff;
  height: 150px;
  width: 150px;
}

.triangle-down {
  position: relative;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #fff;
}

.header {
  display: flex;
  z-index: -1;
  flex-direction: column;
  background-color: rgb(0, 153, 255);
  filter: drop-shadow(8px 8px 10px gray);
  padding: 8px;
}

.float-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.float-left {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.size {
  font-size: 20px;
}

.margin {
  margin-right: 10px;
  margin-left: 10px;
}

.slider-container {
  height: 220px;
  width: 50vw;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding: 0px;
}

.chart-container {
  height: 220px;
  width: 50vw;
  max-width: 1400px;
  position: relative;
  padding: 0px;
}

.wrap {
  overflow-wrap: break-word;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.slider-container .btn {
  position: absolute;
  top: 12%;
  height: 30px;
  width: 30px;
  border-left: 8px solid white;
  border-top: 8px solid white;
}

.slider-container .btn:hover {
  transform: scale(3.2);
}

.slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px
}

.slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

.slider-container .slider {
  display: flex;
  width: 1000%;
  margin-left: 0px;
  transition: all .5s;
}

.slider-container .slider .slide {
  height: 50%;
  margin: auto 10px;
  display: grid;
  place-items: center;
  color: white;
  font-size: 20px;
}

.slider-container .slider .slide:hover {
  border: 2px solid white;
}

.active {
  background-color: rgba(0, 0, 0, 0.466);
  backdrop-filter: blur(5px);
}


.slider-container .slider .slide span {
  font-size: 150px;
}

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 10;
}

.progress-ring {
  
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.back{
  stroke: rgba(0, 0, 0, 0.605);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}

@media only screen and (min-width: 1100px) {

  .slider-container .slider .slide {
    width: calc(2.5% - 20px);
  }

}

@media only screen and (max-width: 1100px) {

  .slider-container .slider .slide {
    width: calc(3.3333333% - 10px);
  }

}

@media only screen and (max-width: 900px) {

  .slider-container .slider .slide {
    width: calc(5% - 10px);
  }

  .column {
    width: 100%;
  }

}

@media only screen and (max-width: 550px) {

  .slider-container .slider .slide {
    width: calc(10% - 10px);
  }

  .column {
    width: 100%;
  }

}