.headerDiv {
    background: black;
    width: 100%;
    display: inline-block;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

.headerDivfirst {
    width: 50%;
    float: left;
}

.headPad {
    padding-left: 5%;
}

.headImg {
    width: 100%;
    height: 380px;
}

.headfont {
    color: white;
    font-weight: bold;
    font-family: Open Sans;
}

.timezone {
    font-weight: normal;
}